<%= render "doctype" %>
  <body class='' ng-app=''>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <header class='header-nav'>
    </header>

    <main class='main-section container' role='main'>
      <%= yield %>
    </main>

    <footer class='footer container'>
      <div class='row'>
        <p class='col-xs-12'>
          <small>&copy; <%= year || Time.now.year %> <%= app_name %> @ <%= company_name %></small>
        </p>
      </div>
    </footer>

    <%= render "footer" %>
  </body>
</html>
