

<%= form_for @user, url: create_registration_url do |f| %>

  <div class='form-group'>
    <%= f.text_field :name, class: 'form-control', placeholder: 'First & Last Name' %>
  </div>

  <div class='form-group'>
    <%= f.email_field :email, class: 'form-control', placeholder: 'Email Address' %>
  </div>

  <div class='form-group'>
    <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
  </div>

  <div class='form-group'>
    <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Password Confirmation' %>
  </div>

  <div class='form-group'>
    <%= f.check_box :accept_terms, {class: 'form-control'}, true, false %> Yes, I accept the terms
  </div>

  <div class='form-group'>
    <%= f.submit 'Create Account', class: 'btn btn-primary' %>
  </div>
<% end %>
