<%= render "doctype" %>
  </head>
  <body class='' ng-app=''>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <header class='header-nav'>
      <%= render 'nav' %>
    </header>

    <main class='main-section' role='main'>
      <%= render "flashes" %>
      <%= yield %>
    </main>

    <footer class='footer row'>
      <p class='col-xs-12'>
        <small>&copy; <%= year %> <%= app_name %> @ <%= company_name %></small>
      </p>
    </footer>

    <%= render "footer" %>

  </body>
</html>
