
<div class='row'>
  <div class='page-header'>
    <h3>Edit your Profile</h3>
  </div>
</div>

<div class='row'>
  <div class='col-xs-12'>

    <%= form_for @user, url: create_registration_url do |f| %>
      <div class="form-group">
        <label for='user_email'>
          <%= t('login.form.label.name') %>
        </label>

        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-user"></i>
          </span>
          <%= f.text_field :name, class: 'form-control', placeholder: 'First & Last Name', class: 'form-control input-lg', autofocus: 'autofocus' %>
        </div>
      </div>

      <div class="form-group">
        <label for='user_email'>
          <%= t('login.form.label.email') %>
        </label>

        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-envelope"></i>
          </span>
          <%= f.text_field :email, placeholder: 'Email Address', class: 'form-control input-lg', autofocus: 'autofocus' %>
        </div>
      </div>


      <div class="form-group">
        <label for='user_password'>
          <%= t('login.form.label.password') %>
        </label>

        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-key"></i>
          </span>
          <%= f.password_field :password, placholder: 'Password', class: 'form-control input-lg' %>
        </div>
      </div>

      <div class="form-group">
        <label for='user_password'>
          <%= t('login.form.label.password_confirmation') %>
        </label>

        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-key"></i>
          </span>
          <%= f.password_field :password_confirmation, placholder: 'Confirm Password', class: 'form-control input-lg' %>
        </div>
      </div>



      <div class="row">
        <div class="col-xs-12">
          <%= f.submit 'Update Profile', class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>

  </div>
</div>